body {
    background-image: url("../images/spain_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.center-text {
    text-align: center;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.header {
    width: 30%;
    font-size: 24px;
    font-weight: bolder;
    color: white;
    margin: 10px auto;
}

#img-caption {
    width: 50%;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin: 20px auto;
}

.footer {
    margin: 20px 0px;
}

.footer a {
    color: black;
}

.my-card {
    margin: 0px 10px 0px 10px;
    padding: 5px;
}

#tribute-info {
    display: flex;
}

.info {
    width: 600px;
    border-radius: 5px;
    background-color: rgba(180, 0, 0, 0.975);
    margin: 0 auto;
}

.info-text {
    margin: 0px 50px 0px 50px;
}

.img-icon {
    height: 40px;
    width: 40px;
}

#img-div {
    max-width: 569px;
    max-height: 320px;
    margin: 0 auto;
    padding: 10px;
    background-color: black;
}

#image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

a:hover {
    color: white;
}

.iframe {
    max-width: 964px;
    max-height: 542px;
    margin: 0 auto;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0px;
}

iframe {
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
}
