.center-text {
    text-align: center;
}

.header {
    width: 30%;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: black;
    background-color: grey;
    color: white;
    margin: 10px auto;
}

/* .footer {

} */

.my-card {
    margin: 0px 10px 0px 10px;
    padding: 5px;
}

.info-text {
    margin: 0px 50px 0px 50px;
}

#image {
    width: 569px;
    height: 320px;
}

#tribute-info {
    width: 600px;
    background-color: grey;
    margin: 0 auto;
}